#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                /* 1段目 (SW1〜SW6) */
                &kp Q    &kp W    &kp E    &kp R    &kp T    &kp Y
                /* 2段目 (SW7〜SW12) */
                &kp A    &kp S    &kp D    &kp F    &kp G    &kp H
                /* 3段目 (SW13〜SW18) */
                &kp Z    &kp X    &kp C    &kp V    &kp B    &kp N
                /* 4段目 (SW19〜SW24) */
                &kp LSHFT &kp LALT &kp LCTRL &kp SPACE &kp ENTER &kp BSPC
                /* 5段目 (SW25〜SW30) */
                &kp 1    &kp 2    &kp 3    &kp 4    &kp 5    &kp 6
            >;
        };
    };
};
