#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        /* Layer 0 (デフォルトベース - LED2: 消灯) */
        default_layer {
            bindings = <
                &kp ESC   &kp N1   &kp N2   &kp N3   &kp N4   &kp N5
                &kp TAB   &kp Q    &kp W    &kp E    &kp R    &kp T
                &kp CAPS  &kp A    &kp S    &kp D    &kp F    &kp G
                &kp LSHFT &kp Z    &kp X    &kp C    &kp V    &kp B
                &kp LCTRL &kp LWIN &mo 3    &kp LALT &kp SPACE &kp SPACE
            >;
        };

        /* Layer 1 (ベース2 - LED2: 赤点灯) */
        layer_1 {
            bindings = <
                &kp ESC   &kp N1   &kp N2   &kp N3   &kp N4   &kp N5
                &kp TAB   &kp Q    &kp W    &kp E    &kp R    &kp T
                &kp CAPS  &kp A    &kp S    &kp D    &kp F    &kp G
                &kp LSHFT &kp Z    &kp X    &kp C    &kp V    &kp B
                &kp LCTRL &kp LWIN &mo 3    &kp LALT &kp SPACE &kp A
            >;
        };

        /* Layer 2 (ベース3 - LED2: 緑点灯) */
        layer_2 {
            bindings = <
                &kp ESC   &kp N1   &kp N2   &kp N3   &kp N4   &kp N5
                &kp TAB   &kp Q    &kp W    &kp E    &kp R    &kp T
                &kp CAPS  &kp A    &kp S    &kp D    &kp F    &kp G
                &kp LSHFT &kp Z    &kp X    &kp C    &kp V    &kp B
                &kp LCTRL &kp LWIN &mo 3    &kp LALT &kp SPACE &kp B
            >;
        };

        /* Layer 3 (FNレイヤー - LED2: 青点灯) */
        fn_layer {
            bindings = <
                &trans    &to 0    &to 1    &to 2    &trans   &trans
                &trans    &trans   &trans   &trans   &trans   &trans
                &trans    &trans   &trans   &trans   &trans   &trans
                &trans    &trans   &trans   &trans   &trans   &trans
                &trans    &trans   &trans   &trans   &trans   &trans
            >;
        };
    };
};
